<div class="animate__animated animate__rubberBand">

      <section class="main" id="main">
        <div class="content">
          <h2 class="uno">Hola, mi nombre es<br>
          <span class="dos">Andrea Valdes</span></h2>
          <div class="animated-text">
            <h3>Estudiante de Programacion Web</h3>
            <h3>Full Stack Developer</h3>
            <h3>UTN</h3>
            <div class="img-cari">
              <img src="/img/caricaturac.png"  alt="">
            </div>
      </section>

      <section class="yo" id="yo">
        <div class="content">
          <div class="column col-left reveal">
            <div class="img-card">
            <img src="/img/yo.png" alt="Juan Manuel">
          </div>
          </div>

        <div class="column col-right reveal" id="letra">
                <br>
                <h2 class="content-title1">Algo de mi:</h2>
                <br>
                <p class="descripcion">
                  ⨀ Soy de La Plata - Buenos Aires.
                  <br>
                  <br>
                  ⨀ Tengo 50 años.
                  <br>
                  <br>
                  ⨀ Estudiante Programacion Web 
                  Full Stack Developer "UTN".
                  <br>
                  <br>
                  ⨀ Me gusta aprender sobre tecnologia.
                  <br>
                  <br>
                  ⨀ Soy mamá.
                  <br>
                  <br>
                  ⨀ Hobbys: pintar, cocinar, viajar...
                  <br>
              </div>
            </div>          
          </section>

<!-- habilidades -->
<section class="habilidades" id="habilidades">
  <div class="content">
    <div class="column col-left reveal">
      <div class="img-card">
        <img src="/img/foto3.png" alt="">
      </div>
    </div>
    <div class="column col-right reveal">
      <h2 class="content-titlea2">Conocimientos adquiridos hasta el momento en la Diplomatura:</h2>
      <div class="column col-right reveal">
        <div class="bar">
          <div class="info">
            <span>HTML</span>
            <span>80%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>CSS</span>
            <span>60%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>Javascript</span>
            <span>40%</span>
          </div>
          <div class="line javascript"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>Node.js</span>
            <span>45%</span>
          </div>
          <div class="line node"></div>
        </div>
        <div class="bar">
          <div class="info">
            <span>MySql</span>
            <span>45%</span>
          </div>
          <div class="line mysql"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- formulario -->
<div class="contacto1">
  <section class="contacto" id="contacto"></section>

  <div class="animate__animated animate__rubberBand">
    <legend class="contacto" class="text-center header">Contactame!!</legend>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm">

            <form action="/index"  method="post"class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                  <div class="col-md-8">
                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control" required>
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                  <div class="col-md-8">
                    <input id="telefono" name="phone" type="phone" placeholder="Telefono" class="form-control"
                      required>
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                  <div class="col-md-8">
                    <input id="email" name="email" type="email" placeholder="Direccion de Email" class="form-control"
                      required>
                  </div>
                </div>
                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                  <div class="col-md-8">
                    <input id="mensaje" name="mensaje" type="text" placeholder="Mensaje" class="form-control" required>
                  </div>
                </div>

                <div class="animate__animated animate__fadeInDownBig">
                  <div class="form-group">
                    <div class="col-md-12 text-center">
                      <button id="boton" type="submit" class="btn btn-danger w-35">Enviar</button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          
        </div>
      </div>
    </div>   
  </div> 
  <!-- Redes -->
  
<div class="redes1">

          <a href="https://www.linkedin.com/in/andiwebs/" target="_blank">
            <img src="/img/linke2.png" alt=""></a>
          
          <a href="https://www.instagram.com/andiwebok/" target="_blank">
            <img src="/img/insta2.png" alt="">
          </a>
          <a href="https://github.com/AndreaDOP" target="_blank" class="git">
            <img src="/img/git2.png" alt="">
          </a>
</div>  
</div>






